<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I have been impressed with the work of volunteers since I was a kid. I remember my parents dragging me along when they volunteered to man the booths at the Charles village Spring festivals. My favorite time was when we have to get India food from one of my favorite restaurants, India Tandor on Charles Street. My parents volunteered for many years’ whiles we lived at the Charles village area.  One time I participated in volunteer work at the Charles Village Learning place. This is a location for after school activities for young people and I felt very proud for being part of its revival. I made a few friends and also met some of my school mates helping out.
          In later years, I had the opportunity to volunteer at the local YMCA. I worked with others on filling the playground with wood chips. During the work I met people who were sent to participate in this work by the courts. I learned these people were doing it as part of mandated community service. I kept thinking about those I met and why some were forced to volunteer and others like me came there willingly. When I compare the experience of having fun when one volunteers to what the mandated community service group was going through, I appreciate the fact that I have been a law abiding citizen for as long as I have lived. My parents told me they wanted me to experience the full range of life by meeting people from different walks of life through living the life of service.
        </p>
        <p>I volunteered at the Bea Gaddy thanksgiving service. I normally avoid the large crowd and go straight to the basement of St. Elizabeth Catholic Church where the meals are prepared and sent to the Recreational Center to feed the needy. During the first year, I encountered a group of people who were attending alcoholic anonymous meeting.  It was my first experience with such a group. I later learned that these people were there because they were mandated by the law courts to attend such meetings.</p>
          The moral of this essay is that life lessons can be learned at any time under any circumstances. My goal of lending a helping hand ended up bringing me into contact with groups of people I would not have met and know about, and I in turn learning that life decisions have consequences, be it good or bad.
        
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>

  <%- include('layouts/scripts'); -%>

</body>

</html>
